
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>WebRTC Peer to Peer video chat</title>
        <script src="public/js/socket.io.js"></script>
        <script type="text/javascript" src="public/js/easyrtc.js"></script>
        <script type="text/javascript" src="public/js/main.js"></script>

    </head>
    <body onload="connect();">
        <div id="container">
            <div id="header">
                <a href="index.html"><img id="logo_easyrtc" src="images/easyrtc_logo.png" alt="EasyRTC" style="" /></a>
            </div>
            <div id="menu"><a class="menu_link" href="index.html"><div class="menu_item">Local Demos</div></a><a class="menu_link" href="https://github.com/priologic/easyrtc/tree/master/docs"><div class="menu_item">Documentation</div></a><a class="menu_link" href="https://easyrtc.com/forum/"><div class="menu_item">Support: EasyRTC Forums</div></a><a class="menu_link" href="http://www.easyrtc.com/"><div class="menu_item">EasyRTC.com</div></a></div>
            <div id="main">
                <div id="demoContainer">
                    <div id="connectControls">
                        <div id="iam">Not yet connected...</div>
                        <br />
                        <strong>Connected users:</strong>
                        <div id="otherClients"></div>
                    </div>
                    <div id="videos">
                        <video autoplay="autoplay" class="easyrtcMirror" id="selfVideo" muted="muted" volume="0" ></video>
                        <div style="position:relative;float:left;">
                        <video autoplay="autoplay" id="callerVideo"></video>
                        </div>
                    </div>
                </div>
                <br style="clear:both;" />
                <hr />
            </div>
        </div>
    </body>
</html>
